
     /*----Propiedades del header----*/
      /*---Version Mobile 576px---*/
   body .contenedorIndex{
      font-family: 'Roboto', sans-serif;
      overflow-x: hidden;
   }
   header{
      background-color: #A3E4D7;
      position: sticky;
      top: 0;
      z-index: 1;
   }
   .propLogo{
      display: flex;
      justify-content: center;
      text-align: center;
   }
   .propLogo img{
      width: 70%;
   }
   /*animacion del logo*/
   .propLogo img:hover{
      transform: scale(1.025);
      transition: 0.5s;
   }
   .menuHeader{
      color: white;
   }
   .contenedorNavbar{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
   }

   /*animacion del menu*/
   .menuHeader ul li:hover{
      background-color:#27c1f5 !important;
      border-radius: 1.1rem;
      transform: scale(1.3);
      transform: translate(0.1rem, 0.1rem);
      box-shadow: 3px 3px rgb(51, 51, 51);
      transition: 0.5s;
   }
   .contenedorNavbar li a{
      font-size: 1rem;
      font-weight: bold;
      background-color: white;
      color: rgb(85, 85, 219) !important;
      margin: 0.2rem;
      padding: 1px;
      border-radius: 0.8rem;
      text-align: center;
   }
   .headerChart img{
      width: 50%;
   }

   .contMainIndex{
      background-image: url(../img/pared.jpg);
      background-size: cover;
   }
   #carouselExampleIndicators{
      display: flex;
      justify-content: center;
   }
   .contenedorCarrusel{
    max-width: 75%;
    margin: 0.75rem;
   }
   .contenedorCarrusel img{
      margin: 1rem 0rem;
      border: 0.1rem solid black;
   }
   
   /*section2-index*/     
      /*H1-H2-P color, size, margenes y paddins*/
   .mainIndex{
      text-align: center;
   }
   .editHead{
      color: #1C2833;
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      padding-top: 0.2rem;
      Padding-bottom: 0.5rem;
   }
   .editSubt{
      text-align: center;
      color:  #1c2833d8;
      font-size: 1.75rem;
      font-weight: bolder;
      padding-bottom: 1rem;
   }
   .editP{
      display: none;
      color: #1c2833be;
      font-weight: bold;
      font-size: 1rem;
      padding-bottom: 1rem; 
   }
   /*WS position fixed*/
   .editWs img{
      position: fixed;
      bottom: 5rem;
      right: 0;
      width: 20%;
   }
   /*Animacion en loop*/
   .wsAnime{
      animation-name: vive;
      animation-iteration-count: infinite;
      animation-duration: 5s;
   }
   @keyframes vive{
      0%{ transform: scale(1)}
      50%{ transform: scale(1.10)}
   }

   footer{
      background-color: rgba(112, 105, 105, 0.692);
   }
   /*Propiedades de "C"*/
   .footerImgC{
      padding: 0.2rem; 
   }
   /*tamano de imagen legal "C"*/
   .footerImgC img{
      width: 3%;
   }
   /*color y size del H3*/
   .footerText h3{
      color: rgba(24, 23, 22, 0.904);
      font-size: 1rem;
      line-height: 0.75rem;
   }
   /* detalle de linea*/
   span{
      color: darkblue;
      font-weight: bolder;
   }
   /*ubicacionde redes sociales*/
   .footerRedes img{
      padding: 0.25rem;
   }
   /*Face & Instagram size*/
   .sideF, .sideI{
      width: 5.5%;
   }
   /*Animacion logo Face*/
   .sideF:hover{
      transform: scale(1.2);
      transition: 0.5s;
   }
   /*Animacion Logo Inst*/
   .sideI:hover{
      transform: scale(1.2);
      transition: 0.5s;
   }


      /*----cierre del Header----*/
      /*---version Mobile---*/

   /*-------------------------------------*/

      /*----Propiedades del Footer----*/
      /*---todos los html---*/
      /*---version Mobile---*/
         

      /*----Cierre del footer----*/
      /*---version mobile 480px---*/

   /*-------------------------------------*/

      /*----Propiedades Main-index----*/
      /*---version Mobile 480px---*/


      /*----cierre Main-index----*/
      /*---version Mobile 480px---*/

   /*-------------------------------------*/
   
      /*----Propiedades Main-aboutUs----*/
      /*---Version Mobile 480px---*/

      
      /*----cierre Main-About Us----*/
      /*---version Mobile 480px---*/
      
   /*-------------------------------------*/

      /*----Propiedades  Main-FoodtoGo----*/
      /*---Version Mobile 480px---*/
      
      /*----cierre Main FoodtoGo----*/
      /*---version Mobile 480px---*/

   /*-------------------------------------*/

      /*----Propiedades Main-Faqs----*/
      /*---Version Mobile 480px---*/
         
      /*----cierre Main-Faqs----*/
      /*---version Mobile 480px---*/

   /*-------------------------------------*/

      /*----Propiedades Main-Contact Us----*/
      /*---Version Mobile 480px---*/
      
      
      /*----cierre Main-Contact Us----*/
      /*---version Mobile 480px---*/
   

   @media only screen and (min-width: 768px){
     
      .propLogo{
         display: flex;
         justify-content: flex-start;
         text-align: center;
      }
      .propLogo img{
         width: 90%;
      }
      .contenedorNavbar{
         display: flex;
         flex-flow: row nowrap;
         justify-content: end;
         align-items: flex-end;
      }
      .menuHeader li a{
         font-size: 0.75rem;
      }
      .headerChart img{
         width: 50%;
         padding-bottom: 0.5rem;
      }
      #carouselExampleIndicators{
         display: flex;
         justify-content: center;
      }
      .editHead{
         font-size: 4.5rem;
         font-weight: bold;
         padding-top: 0.5rem;
         padding-bottom: 0.5rem;
      }
      .editSubt{
         text-align: center;
         color:  #1c2833d8;
         font-size: 2.5rem;
         font-weight: bolder;
         padding-bottom: 1rem;
      }
      .editP{
         display: block;
         color: #1c2833be;
         font-weight: bold;
         font-size: 1.15rem;
         text-align: center; 
         padding-bottom: 1.5rem;
       
      }



   }
      
      /*----Propiedades  Header----*/
      /*---Todos los html---*/
      /*---version desktop---*/ 

      /*----Cierre  header----*/
      /*---version desktop 1024px---*/ 

   /*-------------------------------------*/
   
      /*----Propiedades  Footer----*/
      /*---todos los html---*/
      /*---version desktop 1024px--*/ 
     
      /*----Cierre  Footer----*/
      /*---version desktop 1024px---*/
   
   /*-------------------------------------*/
      
      /*----Propiedades Main-Index----*/
      /*---version desktop 1024px---*/
      
      
      /*----cierre Main-Index----*/
      /*---version desktop 1024px---*/
   

   
   /*-------------------------------------*/
  

      /*--Propiedades Main-About Us--*/
      /*---version desktop 1024px---*/  
     
      /*----Cierre Main-About us----*/
      /*---version desktop 1024px--*/   
   

   /*-------------------------------------*/

      /*---Propiedades Main-FoodtoGo--*/
      /*---version desktop 1024px---*/  
         
      /*----Cierre Main-FoodtoGo----*/
      /*---version desktop 1024px--*/ 
   
   /*-------------------------------------*/
   

      /*----Propiedades Main-Faqs----*/
      /*----version Desktop 1024px-----*/
     
      /*----Cierre Main-Faqs----*/
      /*---version Desktop 1024px--*/
   
   /*-------------------------------------*/
  

      /*---Propiedades Main-Contact Us---*/
      /*---Version desktop 1024px---*/
         
      /*----Cierre Main-Contact Us----*/
      /*---version desktop 1024---*/
      
   

      /*--No es magia es codigo!!!!--/
               /*--fin--*/

             /*  header{
                  grid-area: header;
                  background-color: #A3E4D7;
                  position: sticky;
                  top: 0;
                  z-index: 1;
               }
               footer{
                  grid-area: footer;
                  font-family: 'Roboto', sans-serif;
                  background-color: rgba(112, 105, 105, 0.692);
               }*/